<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
        SKlookie
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://www.sklookie.com/">루키커뮤니티</a></li>
      <li><a href="https://www.sklookie.com/club/clubView.do?clubSeq=4">경희대학교 루키</a></li>
      <li><a href="#">준비중입니다.</a></li>
    </ul>
  </div>
</nav>
  <br>
  <div class="center-align">
    <p>경희대학교 루키는?</p>
  </div>
  <br>
  <div class="col-12">
    <img src="/assets/01.jpeg" style="width:100%">
  </div>
  <div class="col-12">
    <img src="/assets/02.jpeg" style="width:100%"> 
  </div>
  <div class="col-12">
    <img src="/assets/03.jpeg" style="width:100%"> 
  </div>
<br>
  <div class="center-align">
    <p>그동안의 기록들</p>
  </div>
  <br>
<div class="carousel carousel-slider">
  <a class="carousel-item" href="#two!"> <img src="/assets/002.jpg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#three!"> <img src="/assets/003.jpg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#four!"><img src="/assets/004.jpeg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#five"><img src="/assets/005.jpeg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#a!"><img src="/assets/006.JPG" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#b!"><img src="/assets/007.jpeg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#c!"><img src="/assets/008.jpeg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#d!"><img src="/assets/009.jpeg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#e!"><img src="/assets/010.jpeg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#f!"><img src="/assets/011.jpeg" style="width:100%"> </a>
  <a class="carousel-item valign-wrapper" href="#g!"><img src="/assets/012.jpeg" style="width:100%"> </a>
</div>

<script>

  $(document).ready(function(){
    $('.carousel').carousel({
      fullWidth: true
    });
  });
</script>